torch==2.7.0
torchvision==0.22.0
torchaudio==2.7.0

transformers==4.52.4
tokenizers==0.21.1
trl==0.18.1
accelerate==1.7.0
peft==0.15.2

unsloth==2025.6.2
unsloth-zoo==2025.6.1

bitsandbytes==0.46.0
triton==3.3.0
vllm==0.9.1

datasets==3.6.0
sentencepiece==0.2.1
numpy==2.2.6
pandas==2.3.2
matplotlib
protobuf<4.0.0